In [1]:
%classpath add jar libs/*

In [2]:
import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;
import static tech.tablesaw.aggregate.AggregateFunctions.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
Table  yulisa= Table.read().csv("datasets/12181627/12181627.csv");

//print dataset structure
System.out.println(yulisa);

//init objek XlsReader
XlsxReader reader = new XlsxReader();
XlsxReadOptions options = XlsxReadOptions.builder("datasets/12181627/12181627.xlsx").build();
Table tab = reader.read(options);

Table dfDataXLS = reader.read(options);

////Menampilkan struktur data frame dfDataXLS
System.out.println(dfDataXLS.structure());

//menggabungkan data pada dataframedata1 dan dataframedata2 untuk disimpan di df datagabung
Table datagabung = yulisa.append(dfDataXLS);

//menampilkan gabungan data yang ada di dataframe datagabung
System.out.println(datagabung); 

//menampilkan summary data yang ada di dataframe datagabung kolom "grade"
System.out.print(datagabung.summarize("nilai", mean, max, min).apply());

                                                                        12181627.csv
 _id   |  idx   |             series             |  kode_wilayah  |       wilayah        |  tahun  |  triwulan  |  bulan  |  tanggal  |  nilai  |  target  |
------------------------------------------------------------------------------------------------------------------------------------------------------------
 1571  |  1570  |  Luas Lahan yang Dibakar (Ha)  |       1602022  |       MESUJI MAKMUR  |   2008  |            |         |           |     78  |          |
 1572  |  1571  |  Luas Lahan yang Dibakar (Ha)  |       1602023  |         MESUJI RAYA  |   2008  |            |         |           |     56  |          |
 1573  |  1572  |  Luas Lahan yang Dibakar (Ha)  |       1602030  |      TULUNG SELAPAN  |   2008  |            |         |           |     91  |          |
 1574  |  1573  |  Luas Lahan yang Dibakar (Ha)  |       1602031  |              CENGAL  |   2008  |            |         |           |   1454  |          |
 1575  |  1574  |  Luas Lahan yang Dibakar (Ha)  |       1602040  |           PEDAMARAN  |   2008  |            |         |           |         |          |
 1576  |  1575  |  Luas Lahan yang Dibakar (Ha)  |       1602041  |     PEDAMARAN TIMUR  |   2008  |            |         |           |         |          |
 1577  |  1576  |  Luas Lahan yang Dibakar (Ha)  |       1602050  |       TANJUNG LUBUK  |   2008  |            |         |           |      8  |          |
 1578  |  1577  |  Luas Lahan yang Dibakar (Ha)  |       1602051  |         TELUK GELAM  |   2008  |            |         |           |     29  |          |
 1579  |  1578  |  Luas Lahan yang Dibakar (Ha)  |       1602060  |     KOTA KAYU AGUNG  |   2008  |            |         |           |      3  |          |
 1580  |  1579  |  Luas Lahan yang Dibakar (Ha)  |       1602120  |  SIRAH PULAU PADANG  |   2008  |            |         |           |         |          |
  ...  |   ...  |                           ...  |           ...  |                 ...  |    ...  |       ...  |    ...  |      ...  |    ...  |     ...  |
 2060  |  2059  |  Luas Lahan yang Dibakar (Ha)  |       1901092  |               BAKAM  |   2008  |            |         |           |    228  |          |
 2061  |  2060  |  Luas Lahan yang Dibakar (Ha)  |       1901130  |             BELINYU  |   2008  |            |         |           |     20  |          |
 2062  |  2061  |  Luas Lahan yang Dibakar (Ha)  |       1901131  |          RIAU SILIP  |   2008  |            |         |           |    919  |          |
 2063  |  2062  |  Luas Lahan yang Dibakar (Ha)  |       1902010  |           MEMBALONG  |   2008  |            |         |           |  625.5  |          |
 2064  |  2063  |  Luas Lahan yang Dibakar (Ha)  |       1902060  |      TANJUNG PANDAN  |   2008  |            |         |           |      5  |          |
 2065  |  2064  |  Luas Lahan yang Dibakar (Ha)  |       1902061  |               BADAU  |   2008  |            |         |           |      6  |          |
 2066  |  2065  |  Luas Lahan yang Dibakar (Ha)  |       1902062  |               SIJUK  |   2008  |            |         |           |      5  |          |
 2067  |  2066  |  Luas Lahan yang Dibakar (Ha)  |       1902063  |         SELAT NASIK  |   2008  |            |         |           |     42  |          |
 2068  |  2067  |  Luas Lahan yang Dibakar (Ha)  |       1903010  |              KELAPA  |   2008  |            |         |           |  975.4  |          |
 2069  |  2068  |  Luas Lahan yang Dibakar (Ha)  |       1903020  |           TEMPILANG  |   2008  |            |         |           |    464  |          |

ERROR:  java.lang.NumberFormatException